.container{
   @media only screen and (min-width:767px) and (max-width:1601px){
    max-width: 92%;
   }
}
@font-face {
    font-family: 'Futura PT';
    src: url('/assets/Futura/FuturaPTMedium.otf') format('opentype');
  }
body{
    font-family: 'Nunito Sans', sans-serif;

}