.container{
   @media only screen and (min-width:767px) and (max-width:1601px){
    max-width: 92%;
   }
}
@font-face {
    font-family: 'Futura PT';
    src: url('/assets/Futura/FuturaPTMedium.otf') format('opentype');
  }
  .future{
    font-family: Futura PT, sans-serif;
  }
body{
    font-family: 'Nunito Sans', sans-serif;

}
.section{
  padding: 40px 0px;
}