$primary:#F71800;
$primary-dark:#E32524;
// $primary-dark:#BC0B3C;
$primary-gradient:rgb(247,24,0);
$white:#FFFFFF;
$gray:#B4B4B4;
$black:#000000;





$light-skin: #f6f6f6;
// $primary: #31d4f0;
 $secondry: #0963ce;
$gray:#5c607b;
$dark-blue:#172b4c;

$dark-skin: #15243e;